<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Customers</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
</head>
<body>

<div class="container">

    <h1>Example Private View </h1>

    <div class="card-columns">

        <div class="card card-block">
            <h4 class="card-title">Barry Allen</h4>
            <p class="card-text"><img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/lUFK7ElGCk9kVEryDJHICeNdmd1.jpg" /> </p>
        </div>

        <div class="card card-block">
            <h4 class="card-title">Oliver Queen</h4>
            <p class="card-text"><img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/mo0FP1GxOFZT4UDde7RFDz5APXF.jpg" /> </p>
        </div>

        <div class="card card-block">
            <h4 class="card-title">Oliver Queen</h4>
            <p class="card-text"><img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/mo0FP1GxOFZT4UDde7RFDz5APXF.jpg" /> </p>
        </div>

        <div class="card card-block">
            <h4 class="card-title">Barry Allen</h4>
            <p class="card-text"><img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/lUFK7ElGCk9kVEryDJHICeNdmd1.jpg" /> </p>
        </div>

        <div class="card card-block">
            <h4 class="card-title">Barry Allen</h4>
            <p class="card-text"><img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/lUFK7ElGCk9kVEryDJHICeNdmd1.jpg" /> </p>
        </div>

        <div class="card card-block">
            <h4 class="card-title">Oliver Queen</h4>
            <p class="card-text"><img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/mo0FP1GxOFZT4UDde7RFDz5APXF.jpg" /> </p>
        </div>


    </div>
</div>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
</body>
</html>